cv_bridge==1.13.0
gym==0.20.0
matplotlib==3.3.4
numpy==1.19.5
opencv-python==4.5.5.62
protobuf==3.19.1
pygame==2.1.2
qpsolvers==1.8.0
quadprog==0.1.11
scipy==1.5.4
Shapely==1.8.1.post1
tensorboard==1.15.0
tensorboardX==2.4.1
torch==1.0.0Z
